<<<<<<< HEAD
h1 a {
        color: #FCA205;
    }

body {
        padding-left: 15px;
=======
h1 a {
        color: #FCA205;
    }

body {
        padding-left: 15px;
>>>>>>> 5a28a6ed229118d112d80595d00b57c6d85ab7d2
}